
/* This is for our card components.
Basically we're making space for our images that will fit in a small container.
Each list element will fit in a column, except for the buttons which will be their own div separated by a space between. */


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drink-card {
    height: auto; /* Adjusted for better responsiveness */
    min-height: 300px; /* Ensures a minimum height for the card */
    width: 100%; /* Adjusted for better responsiveness */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.drink-card img {
    height: 35vh;
    width: auto;
    display: block;
}

.drink-card p {
    width: 50%;
    margin-bottom: 20px;
}

.drink-card h3 {
    display: block;
}

.button-container {
    gap: 20px;
    display: flex;
}