

/* Basically, we need to use CSS grid and flexbox to be able to make a small menu of the most popular drinks of the month. */
/* After this, we're going to display a graphic or gif displaying an aesthetic. She needs a brand identity. */


.drink-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 100vh;
}

.drink-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  gap: 10px;
  width: 80%;  /* Reduce width to allow for centering */
  margin: 0 auto;  /* Center the grid horizontally */
  justify-content: center;  /* Center grid items */
}