.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
}

#nav-title-container {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
}

#nav-links-container {
    margin-right: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}